<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
        iste dolorem iure eius voluptates ut quibusdam. Recusandae voluptas
        accusantium officiis animi? Sed sit voluptatum omnis minus repellat
        laboriosam, ut voluptates!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
        beatae tenetur, dignissimos, placeat id maiores officia obcaecati non in
        explicabo voluptatum dolor suscipit quia qui, incidunt consectetur
        repellat. Deleniti, harum.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit dicta
        odit tempore animi dolore atque adipisci itaque quae cupiditate impedit,
        repudiandae earum qui, nemo perspiciatis dolores minima eius nesciunt
        voluptatum?
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
